html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Arial, sans-serif;
    background-color:rgb(179, 149, 114);
    color: darkred;
}

h1 {
    font-size: 50px;
    color: orange;
}

.title {
    background-color: darkred;
    text-align: center;
    width: 400px;
    height: 114px;
    margin: 20px auto;
    margin-bottom: 50px;
    border: 7px inset orange;
    padding: 22px;
}

h2 {
    color: orange;
    font-size: 30px;
    text-decoration: underline;
    text-indent: 10px;
}
ul {
    list-style: circle;
}

.home-list {
    list-style: none;
    font-size: 30px;
}

.home-list-element-1 a {
    display: block;
    background-color: darkred;
    text-align: center;
    width: 275px;
    height: 60px;
    margin-bottom: 10px;
    padding: 9px;
    border: 4px inset orange;
}

.home-list-element-1 a:hover {
    background-color: rgb(43, 3, 3);
}

.home-list-element-2 a {
    display: block;
    background-color: darkred;
    text-align: center;
    width: 275px;
    height: 60px;
    margin-left: 50px;
    margin-bottom: 10px;
    padding: 9px;
    border: 4px inset orange;
}

.home-list-element-2 a:hover {
    background-color: rgb(43, 3, 3);
}

.home-list-element-3 a {
    display: block;
    background-color: darkred;
    text-align: center;
    width: 275px;
    height: 60px;
    margin-left: 100px;
    margin-bottom: 10px;
    padding: 9px;
    border: 4px inset orange;
}

.home-list-element-3 a:hover {
    background-color: rgb(43, 3, 3);
}

ol {
    list-style: upper-roman;
}

li {
    /*font-size: 30px;*/
}

p {
    font-size: 20px;
    font-style: italic;
    text-indent: 25px;
}

a {
    color:orange;
    text-decoration: none;
}

.food-pic {
    width: 375px;
    border-style: inset;
    border-color: darkgoldenrod;
}

.food-pic.salmon {
    border-style: double;
}